.button {
      padding: 2rem 4rem;
      border: none;
      border-radius: 0.5rem;
      background: linear-gradient(45deg, #23b5A7, #06B6C2);
      color: #fff;
      font-size: 1.125rem;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 0 0 2rem rgba(0, 0, 
      0, 0.2);
    }
    .button:hover {
      transform: scale(1.05);
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5), 0 0 5rem rgba(0, 118, 255, 0.5);
    }
    .button:active {
      transform: scale(0.98);
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    }