.button {
            position: relative;
            display: inline-block;
            padding: 1em 2em;
            border: none;
            border-radius: 1em;
            background-color: #ffe6f2;
            color: #333;
            font-size: 1.2em;
            font-weight: bold;
            cursor: pointer;
            box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }
        .button:hover {
            background-color: #ffc5c5;
        }
        .button:active {
            transform: scale(0.9);
        }
        .blob {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 1em;
            background-color: #ff99cc;
            opacity: 0.5;
            transform: scale(0);
            transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }
        .button:hover .blob {
            transform: scale(1.2);
        }
        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.5em;
            color: #333;
        }